<?xml version="1.0"?>
<configuration>
	<!-- 
      Declare a sectiongroup for viewstateService as a valid section in this file 
      Note: this declaration must be first element under <configuration>
    -->
	<configSections>
		<sectionGroup name="myviewstateSection">
			<section name="viewstateService" type="ASPNETWebApplication.ViewState.ViewStateProviderServiceSection, ASPNETWebApplication" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
  
	<appSettings>
		<!-- Log Severity. Options are: Debug, Info, Warning, Error, or Fatal -->
		<add key="LogSeverity" value="Error"/>
		<!-- Client tag: identifier or Service communication -->
		<add key="ClientTag" value="ABC123"/>
		<!-- Url for image service -->
		<add key="ImageService" value="http://localhost:4754/ImageService.svc/"/>
	</appSettings>
	<!-- 
      No connection string settings here !
    -->
	<connectionStrings/>
	<system.web>
		<!-- set application theme -->
		<pages theme="DoFactorySky" clientIDMode="AutoID">
		</pages>
	
		
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name=".PatternFramework" slidingExpiration="true" loginUrl="~/login" protection="All" timeout="30"/>
		</authentication>
    
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request.
        -->
		<customErrors defaultRedirect="~/error" mode="On">
		</customErrors>
    
	</system.web>
  
	<!-- authorization: must be outside system.web section -->
	<location path="admin">
		<system.web>
			<authorization>
				<!-- deny anonymous users -->
				<deny users="?"/>
				<!-- allow all users -->
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IActionService" receiveTimeout="00:30:00" sendTimeout="00:30:00">
					<reliableSession enabled="true"/>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:4753/ActionService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActionService" contract="ActionServiceReference.IActionService" name="WSHttpBinding_IService">
				<identity>
					<dns value="localhost"/>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>

  <myviewstateSection>
    <!-- 
           Custom viewstate provider service 
     -->
    <viewstateService defaultProvider="ViewStateProviderGlobal">
      <providers>
        <add name="ViewStateProviderCache" type="ASPNETWebApplication.ViewState.ViewStateProviderCache"/>
        <add name="ViewStateProviderGlobal" type="ASPNETWebApplication.ViewState.ViewStateProviderGlobal"/>
        <add name="ViewStateProviderSession" type="ASPNETWebApplication.ViewState.ViewStateProviderSession"/>
      </providers>
    </viewstateService>

  </myviewstateSection>
</configuration>
