<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- Log Severity. Options are: Debug, Info, Warning, Error, Warning, or Fatal -->
    <add key="LogSeverity" value="Error"/>

    <!-- Client identifier tag for WebService communication -->
    <add key="ClientTag" value="ABC123"/>

  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IActionService" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4753/ActionService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IActionService" contract="ActionServiceReference.IActionService" name="WSHttpBinding_IService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
