<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;..\Host.WCF.ActionServer\App_Data\Action.mdf&quot;;Integrated Security=True;MultipleActiveResultSets=True;User Instance=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>